@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    if(Model.AuditObjects?.Any() == true){
        <div class="container">
            <ul class="list-group">
                @{
                    int i = 0;
                    foreach (var item in Model.AuditObjects)
                    {
                        i++;
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-1 text-center">@i</div>
                                <pre class="col-lg-11" style="white-space: pre-wrap;">@item.Body</pre>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    }
}
