@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Diyaz Yakubov</h3>

<p>Software developer</p>
<address>
    <a href="https://github.com/DiyazY" target="_blank">GitHub</a><br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:diyaz.yakubov@gmail.com">diyaz.yakubov@gmail.com</a><br />
</address>
