@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <form method="POST">
        <fieldset>
            <legend>Search</legend>
            @{
                if(Model.ErrorMessages!=null && Model.ErrorMessages.Any()){
                    <div class="alert alert-danger">
                        @foreach (var item in Model.ErrorMessages)
                        {
                            <p>
                                - @item
                            </p>
                        }
                    </div>
                }       
            }
            <div class="form-group">
                <label for="app-name">App name</label>
                <input 
                    asp-for="RequestModel.AppName"
                    class="form-control" 
                    type="text" 
                    placeholder="app name" 
                    id="app-name" 
                    name="AppName" 
                    required/>   
            </div>
            <div class="form-group">
                <label for="object-id">Object ID</label>
                <input 
                    asp-for="RequestModel.ObjectId"
                    class="form-control" 
                    type="text" 
                    placeholder="guid id" 
                    id="object-id" 
                    name="ObjectId" 
                    required/>   
            </div>
            <div class="form-group">
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>
</div>